html, body {
    font-family: "open sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

.box {
    border: 1px red dotted;
}

#side-menu {
    background-color: #2f4050;
    padding-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    width: 250px;
}

#side-menu h1 {
    color: #1f3647;
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
}

.display-table {
    display: table;
    padding: 0px;
    height: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}
